<html>
  <head>
    <title>FAIR DATool</title>
  </head>
  <body>
  <table>
  <tr>
	<td align=center><img src="/static/starlogoe.png"></td>
	<td align=center><img src="/static/starlogob.png"></td>
	<td align=center><img src="/static/starlogo.png"></td>
	<td align=center><img src="/static/starlogoe.png"></td>
  </tr>
  <tr>
        <td align=center><img src="/static/starlogoe.png"></td>
        <td align=center><img src="/static/starlogob.png"></td>
        <td align=center><img src="/static/starlogo.png"></td>
        <td align=center><img src="/static/starlogoe.png"></td>
  </tr>
  <tr>
        <td align=center><img src="/static/starlogoe.png"></td>
        <td align=center><img src="/static/starlogob.png"></td>
        <td align=center><img src="/static/starlogo.png"></td>
        <td align=center><img src="/static/starlogoe.png"></td>
  </tr>
  <tr>
        <td align=center><img src="/static/starlogoe.png"></td>
        <td align=center><img src="/static/starlogob.png"></td>
        <td align=center><img src="/static/starlogo.png"></td>
        <td align=center><img src="/static/starlogoe.png"></td>
  </tr>
  <tr>
        <td align=center><img src="/static/starlogoe.png"></td>
        <td align=center><img src="/static/starlogob.png"></td>
        <td align=center><img src="/static/starlogo.png"></td>
        <td align=center><img src="/static/starlogoe.png"></td>
  </tr>
  <tr>
	<td align=center><font size=+1>F</font></td>
	<td align=center><font size=+1>A</font></td>
	<td align=center><font size=+1>I</font></td>
	<td align=center><font size=+1>R</font></td>
  </tr>
  <tr>
	<td align=center colspan=4>1 Archivist Assestment</td>
  </tr>
  <tr>
	<td align=center colspan=4>3 User Reviews</td>
  </tr>
  </table>
  </body>
</html>
